@import url("variables.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--background-primary) !important;
  margin: 10px;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: var(--font-family-primary);
  font-style: var(--font-style-primary);
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-6);
  line-height: var(--line-height-9);
  color: var(--primary-blue);
  text-align: center;
}

h6 {
  height: 26px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--medium-grey);
  line-height: 3em;
  margin: 10px 0 30px;
}

h6 span {
  font-size: var(--font-size-4);
  font-family: var(--font-family-primary);
  font-style: var(--font-style-primary);
  font-weight: var(--font-weight-1);

  line-height: var(--line-height-6);
  /* identical to box height */

  /* Medium_grey */

  color: var(--medium-grey);
  background: var(--background-primary);
  padding: 0 10px;
}

h5 {
  font-family: var(--font-family-primary);
  font-style: var(--font-style-primary);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-2);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-1);
  color: var(--medium-grey);
}

p {
  font-family: var(--font-family-primary);
  font-style: var(--font-style-primary);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-2);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-1);
  color: var(--black);
}

.container {
  width: 100%;
  color: rgb(68, 68, 68);
  height: 90vh;
}

.container .ql-editor {
  background-color: white;
  margin: 10px;
  margin-top: 70px;
  padding: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.container .ql-container {
  border: none;
}

.container .ql-toolbar.ql-snow {
  width: 100%;
  background-color: white;
  display: flex;
  position: fixed;
  margin-top: 65px;
  top: 0;
  z-index: 1;
}

@media print {
  .body {
    background-color: white;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background-color: white;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.pageContainer {
  max-width: 500px;
  margin: auto;
  margin-top: 70px;
  position: relative;
}

.homeContainer {
  margin: auto;
  margin-top: 70px;
  position: relative;
}

.objectCard {
  max-width: 581px;
  margin: auto;
  margin-top: 5px;
  background-color: #f5f5f5 !important;
  color: #b9b9b9 !important;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
}

.modalCard {
  padding: 20px;
  width: 365px;
  margin: auto;
  margin-top: 5px;
  background-color: #f5f5f5 !important;
  color: #b9b9b9 !important;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
}

.cardActions {
  border-top: 1px solid #efefef;
}

.fabStyle {
  z-index: 99;
  position: fixed;
  bottom: 70px;
  right: 40px;
}

.logo {
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.spaceformItems {
  margin-top: 1rem;
}

.ellipse2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40%;
  height: 40%;
  background: #77adff;
  border-radius: 50%;
  opacity: 0.21;
  filter: blur(67px);
  z-index: -1;
}

.ellipse4 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40%;
  height: 40%;
  background: #8fffd7;
  border-radius: 50%;
  opacity: 0.21;
  filter: blur(67px);
  z-index: -1;
}

.ellipse3 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40%;
  height: 40%;
  background: #8fd0ff;
  border-radius: 50%;
  opacity: 0.21;
  filter: blur(67px);
  z-index: -1;
}
