.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.circularChart {
  display: block;
  margin: 10px auto;
  max-width: 50%;
  max-height: 180px;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 500ms ease-out forwards;
}

.circleValue {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  color: #2eb6cb;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.circleLabel {
  font-size: 20px;
  color: grey;
}

.valueWrapper {
  text-align: right;
  position: relative;
  align-items: center;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
