.pageContainer {
  max-width: 500px;
  margin: auto;
  margin-top: 76px;
}

.objectCard {
  max-width: 581px;
  margin: auto;
  margin-top: 5px;
  background-color: #f5f5f5 !important;
  color: #b9b9b9 !important;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
}

.modalCard {
  padding: 20px;
  width: 365px;
  margin: auto;
  margin-top: 5px;
  background-color: #f5f5f5 !important;
  color: #b9b9b9 !important;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
}

.cardActions {
  border-top: 1px solid #efefef;
}

.fabStyle {
  z-index: 99;
  position: fixed;
  bottom: 70px;
  right: 40px;
}
